.settings {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.item {
  margin: 5px;
}

.item button {
  width: 100%;
  height: 100%;
  padding: 5px;
}

.key {
  display: flex;
}

.key-item {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.key-item p {
  color: #fff;
  margin-left: 5px;
}
