.nav {
  background-color: #e4e4e5;
  color: #2484f3;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a {
  padding: 10px;
  font-weight: 500;
  color: #2484f3;
  border: 1px solid #2484f3;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s;
}

.nav a:hover {
  background-color: #2484f3;
  color: #e4e4e5;
  border-color: #e4e4e5;
}
